
.guage-outer{
    /*padding: 20px;*/
}
.gauge{
    margin-top: 30px;
    overflow: hidden;
}
.guage-outer{
    background-color: #ffffff !important;
}
.meter{
    padding: 0;
    margin: 0;
}

.meter > li {
    width: 100%;
    height: 100%;
    list-style-type: none;
    position: absolute;
    border-top-left-radius: 250px;
    border-top-right-radius: 0px;
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transition-property: -webkit-transform;
    pointer-events: none;
    transform: rotate(-90deg);
}
.red-1,.red-2{
    background-color: #FA0E1C !important;/* red */
    z-index: 10;
}
.yellow-1,.yellow-2{
    background-color: #FEE62A !important; /* yellow */
    z-index: 8;
}
.green-1,.green-2{
    background-color: #09B84F !important;/*greeen*/
    z-index: 9;
}
.overflow-wrapper{
    position: absolute;
    background-color:#adadad !important;
    z-index: 1000;
}
.dial{
    background-color: #ffffff !important;
    position: absolute;
    border-radius: 100%;
    z-index:100;
}

.dial .inner{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 100%;
    border-color: purple;
    z-index: 10;
    transition-property: -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform: rotate(-90deg);

}
.arrow{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    transform: rotate(0deg);
}
.info-meter1{
    position: absolute;
    border-radius: 100%;
    z-index:100;
}
.info-meter1 .inner1{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    border-color: purple;
    z-index: 10;
    transition-property: -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform: rotate(-90deg);
    display: none;
}
.arrow1{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom-color: #800017;
    border-bottom-style: solid;
    transform: rotate(0deg);
    top: -5px;

}
.info-meter2{
    position: absolute;
    border-radius: 100%;
    z-index:100;
}
.info-meter2 .inner2{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    border-color: purple;
    z-index: 10;
    transition-property: -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform: rotate(-90deg);
    display: none;
}
.arrow2{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom-color: #EAB800 !important;
    border-bottom-style: solid;
    transform: rotate(0deg);
    top: 70px;

}
.info-meter3{
    position: absolute;
    border-radius: 100%;
    z-index:100;
}
.info-meter3 .inner3{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    border-color: purple;
    z-index: 10;
    transition-property: -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform: rotate(-90deg);
    display: none;
}
.arrow3{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom-color: #00804d;
    border-bottom-style: solid;
    transform: rotate(0deg);
    top: 90px;

}
.info-meter4{
    position: absolute;
    border-radius: 100%;
    z-index:100;
}
.info-meter4 .inner4{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    border-color: purple;
    z-index: 10;
    transition-property: -webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform: rotate(-90deg);
    display: none;
}
.arrow4{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom-color: #650080;
    border-bottom-style: solid;
    transform: rotate(0deg);
    top: 110px;

}
.small-square{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.small-square.actual{
   background-color: #800017 !important;
}
.small-square.target{
    background-color: #EAB800 !important;
}
.small-square.tv1{
    background-color: #00804d !important;
}
.small-square.tv2{
    background-color: #650080 !important;
}

.actualVal,
.targetVal,
.targetValIntoV1,
.targetValIntoV2{
    width: 190px;
    margin-left: -15px;
    margin-top: -18px;
    position: absolute;
}
.by-reference{
    display: none;
}
