html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px;
    background: #ffffff;
}
body > .container {
    padding: 120px 15px 0;
}
body > .container-fluid {
    padding: 120px 15px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #000000;
}
.footer .container .text-muted{
    padding: 10px 0 0;
}
.txt-black{
    color: #000000;
}
th{
   vertical-align: top !important;
}
.txt-left{
    text-align: left !important;
}
.hyperlink-form-bottom,
.hyperlink-form-bottom:hover,
.hyperlink-form-bottom:active,
.hyperlink-form-bottom:focus{
    padding-top: 10px;
    padding-bottom: 0px;
    text-decoration: underline;
    color: #15c;
    display: block;
}
/** ===================================preloader =============================================== */



#loading_sk {
    z-index: 10000000;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
   background: rgba(0, 0, 0, 0.64);
}

.spinner {
    width: 32px;
    height: 32px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -16px;
}



/**========================================================= comming soon =============================================*/
.comming-soon-bg{
    width: 100%;
    height: 100%;
    display: block;
    background: url("../img/comming-soon-bg.jpg") center center no-repeat;
    background-size: cover;
}
.pattern {
    background: rgba(0,0,0,.5) url(../img/pattern.png);
    width: 100%;
    height: 100%;
    position: absolute;
}
#large-header{
    color: #ffffff;
    font-size: 13em;
}
#small-header{
    color: #ffffff;
    font-size: 6em;
}
@media (max-width: 768px){
    #large-header{
        color: #ffffff;
        font-size: 4em;
    }
    #small-header{
        color: #ffffff;
        font-size: 2em;
    }
}

/*=========================================================== Status bar =============================================*/
.header-status-bar{
    height: 50px;
    background-color: #383b42;
}
.info-section{
    color: #ffffff;
}
.info-section li{
    padding: 15px;
    min-height: 50px;
}


/* ========================================================= navbar ==================================================*/
.navbar {
    border-radius: 0;
}
.navbar-default {
    color: #ffffff;
    border-color: #7ac9f6;
    background-color: #7ac9f6;
    background: -moz-linear-gradient(top,#7ac9f6 0,#54ace2 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#7ac9f6),color-stop(100%,#54ace2));
    background: -webkit-linear-gradient(top,#7ac9f6 0,#54ace2 100%);
    background: linear-gradient(top,#7ac9f6 0,#54ace2 100%);
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: #7ac9f6;
}
.navbar-brand {
    float: left;
    height: 37px;
    padding: 15px 14px;
    font-size: 18px;
    line-height: 20px;
    color: white;
}
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
    color: white;
}
.navbar-right a{
    color: #ffffff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #7AC9F6;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #7AC9F6;
    border-color: #7AC9F6;
}
#notification-panel{
    float: right !important;
    margin-right: -15px;
}
.dropdown-title{
    float: right;
}
@media (min-width: 768px){
    .navbar-nav>li {
        float: left;
        min-width: 126px;
    }
    .navbar {
        margin-bottom: 0px;
    }
    .sidebar {
        margin-top: 0px;
        background: none;
    }
}

/**====================== content area =============================================*/
#wrapper {
    padding-top: 105px;
}
@media (min-width: 768px){
    #page-wrapper {
        position: inherit;
        margin: 0px 0 0 250px;
        padding: 15px 30px 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.page-header {
    padding-bottom: 25px;
    margin: 25px 0 20px;
    border-bottom: 1px solid #eee;
}
.filter-area{
    margin: 10px 0 20px;
}
.filter-area label{
     margin-top: 7px;
}
.panel-heading-text{
    padding: 12px 0 0 0;
    margin: 0;
    font-size: 18px;
}
.create-item-btn , .create-item-btn:hover ,.create-item-btn:active, .create-item-btn:visited{
    padding: 10px 10px;
    background-color: #94da2c;
    text-decoration: none;
    color: white;
}
.create-item-btn i{
    color: white;
    margin-left: 2px;
    margin-right: 10px;
}
.back-item-btn , .back-item-btn:hover ,.back-item-btn:active, .back-item-btn:visited{
    padding: 10px 10px;
    background-color: #858683;
    text-decoration: none;
    color: white;
}
.back-item-btn i{
    color: white;
    margin-left: 2px;
    margin-right: 10px;
}

/** tables **/
.text-td{
    padding-top: 15px !important;
}
.cust-group{
    float: right;
}
.simple-msg{
    padding: 15px 15px 18px 0;
}
.fa-2 {
    font-size: 2em;
}
.left-arrow-kpi-indicator{
    margin-left: 10px;
}

/**============================================ side menu ===================================================*/
#side-menu li.active a{
    color: #ffffff;
    background-color: #7ac9f6;
}
.sidemenu-with-padding{
    padding:10px;
}
.ui-datepicker{
    z-index: 100000 !important;
}

/** ====================================== dashboard ============================================================*/
.bg-create{
    background-color: #94da2c;
    border-color: #94da2c;
}
.bg-create:hover , .bg-create:focus , .bg-create:active{
    background-color: #94da2c;
    border-color: #94da2c;
}



/** ================================================ error page ============================================*/
#error-panel{
    margin-top: 25%;
}
#error-panel.panel-default {
    border-color: #F00;
}
#error-panel.panel-default>.panel-heading {
    color: #333;
    background-color: #FF0000;
    border-color: #F00;
}
#error-panel .panel-title{
    color: white;
}
#error-panel .page-header {
    padding-bottom: 25px;
    margin: 25px 0 20px;
    border:none !important;
    color:#FF0000 ;
}

/** ======================================== KPI report ============================================ */
.internal-time{
    font-size: 14px;
}
.red-txt-op{
     background-color:#d9534f !important;
}
.yellow-txt-op{
     background-color:#DCCF36 !important;
}
.green-txt-op{
    background-color:#0EBD0B !important;
}
.txt-white{
    color:#ffffff !important;
}
#report-summary-table-area{
    display: none;
}
#report-no-result-found{
    display: none;
}

.kpi-report-pagenation>li>a.current{
    z-index: 2;
    background-color: #FFAE34;
    border-color: #ddd;
    color: #ffffff;
}
#print-preview-btn-js{
    display: none;
}

/** ====================== assign KPI to Employee ================================== */
#balanceTarget{
    color: #d9534f;
}


@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
   .no-print{
     display:none;
     visibility: hidden;
   }
   .btn-group.cust-group{
     display:none;
     visibility: hidden;
   }
  
    td.red-txt-op{
        -webkit-print-color-adjust: exact; 
         background-color:#d9534f !important;
    }
    td.yellow-txt-op{
         background-color:#DCCF36 !important;
    }
    td.green-txt-op{
        background-color:#0EBD0B !important;
    }
    td.txt-white{
        color:#ffffff;
    }
    #report-summary-table-area{
        display: none;
    }
    #report-no-result-found{
        display: none;
    }

    .kpi-report-pagenation>li>a.current{
        z-index: 2;
        background-color: #FFAE34;
        border-color: #ddd;
        color: #ffffff;
    }
    a{
        display:none !important;
        visibility: hidden;
    }
    @page {
        size: auto;   /* auto is the initial value */
        margin: 10px;  /* this affects the margin in the printer settings */
    }
    .small-square.actual{
        background-color: #800017 !important;
    }
    .small-square.target{
        background-color: #EAB800 !important;
    }
    .small-square.tv1{
        background-color: #00804d !important;
    }
    .small-square.tv2{
        background-color: #650080 !important;
    }

}


/** division kpi list edit **/
.btn-add-pre-data{
    margin-bottom: 20px;
}